In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
machine = pd.read_csv('machine2.txt', sep='\s',engine='python')
machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [88]:
#H0: New_machine = avg Old_machine
#H1: New machine > avg Old_machine

In [66]:
machine['Old_machine'].mean()

43.230000000000004

In [83]:
pvalue=st.ttest_1samp(machine['New_machine'],machine['Old_machine'].mean())[1]

In [84]:
pvalue/2

0.00034831880383795163

In [85]:
#p_value is lower than 0.02, so we can't reject the null hipothesis, so we can suppose that the new machine will not pack faster then the current one

In [82]:
#H0: value in Attack = value in defense
#H1: value in Attack â‰  value in defense

In [39]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [80]:
sample=pokemon[['Attack','Defense']].sample(200)
sample

     Attack  Defense
325      65       65
578      55       50
515     140      130
460      69       95
415      50      100
..      ...      ...
566      80       65
602     103       80
297      70       40
491      70       45
730      73       55

[200 rows x 2 columns]

In [81]:
st.ttest_rel(sample['Attack'],sample['Defense'])

Ttest_relResult(statistic=2.4527511564737514, pvalue=0.015038007784077255)

In [86]:
#p_value is lower than 0.02, so we can't reject the null hipothesis, so the attack value and the defence value re related.

In [9]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [10]:
p160 = data[data['Power ']=='160 W']['Etching Rate']
p180 = data[data['Power ']=='180 W']['Etching Rate']
p200 = data[data['Power ']=='200 W']['Etching Rate']

In [11]:
#H0: p160=p180=p200
#H1: p160â‰ p180â‰ p200

In [36]:
st.f_oneway(p160,p180,p200)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#p_value is lower than 0.05 , so we reject the H0, the Etching Rate is not the same for different power levels.